-- [B2B 등급 관리용] 등급(grade) 컬럼 추가 SQL
-- 사장님, Supabase의 SQL Editor 보드에 복사해서 붙여넣고 [Run] 버튼을 눌러주세요.

ALTER TABLE public.sales_records 
ADD COLUMN IF NOT EXISTS grade TEXT DEFAULT '미지정';

-- 도움말: 
-- 이 명령은 이미 '등급' 칸이 있다면 아무 일도 하지 않으므로 안심하고 정기적으로 실행하셔도 됩니다.
-- 이제 장부에서 [특상이/중이/하이] 등 품질별로 꼼꼼하게 장부를 적으실 수 있습니다. 🍓🏷️
